.radio-field {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-100, 4px);
  align-items: flex-start;
}

.radio-field__row {
  display: flex;
  gap: var(--sds-size-space-300, 12px);
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.radio-field__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-field__label-wrapper {
  display: flex;
  gap: var(--sds-size-space-300, 12px);
  align-items: center;
  cursor: pointer;
}

.radio-field__label-wrapper--disabled {
  cursor: not-allowed;
}

.radio-field__radio {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.radio-field__icon {
  width: 100%;
  height: 100%;
  color: var(--sds-color-border-default-default, #babfcc);
}

.radio-field__label-wrapper:has(.radio-field__input:checked) .radio-field__icon {
  color: var(--sds-color-background-brand-default, #0a76db);
}

.radio-field__label-wrapper:hover:not(.radio-field__label-wrapper--disabled) .radio-field__icon {
  color: var(--sds-color-border-brand-tertiary, #4f95e8);
}

.radio-field__label-wrapper--disabled .radio-field__icon {
  color: var(--sds-color-border-disabled-default, #babfcc);
}

.radio-field__label-text {
  font-family: var(--sds-typography-body-font-family, 'Inter', sans-serif);
  font-size: var(--sds-typography-body-size-medium, 16px);
  font-weight: var(--sds-typography-body-font-weight-regular, 400);
  line-height: 1.399999976158142;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--button/default/enabled/text, #17191c);
  margin: 0;
}

.radio-field__label-wrapper--disabled .radio-field__label-text {
  color: var(--sds-color-text-disabled-default, #b2b2b2);
}

.radio-field__description-row {
  display: flex;
  gap: var(--sds-size-space-300, 12px);
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.radio-field__spacer {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.radio-field__description {
  font-family: var(--sds-typography-body-font-family, 'Inter', sans-serif);
  font-size: var(--sds-typography-body-size-small, 14px);
  font-weight: var(--sds-typography-body-font-weight-regular, 400);
  line-height: 1.399999976158142;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: var(--sds-color-text-default-secondary, #8a909e);
  margin: 0;
}
